<div class="flex flex-col w-screen h-screen bg-white">
    <!-- Header -->
    <div class="flex items-center justify-between w-full p-3 bg-sky-500">
        <p class="text-xl font-bold text-white">
            Media Pembelajaran
        </p>

        <div class="flex gap-5 pr-2">
            <i class="pi pi-user text-white"></i>
            <i class="pi pi-sign-out text-white"></i>
        </div>
    </div>

    <!-- List -->
    <div *ngIf="FormState == 'list'" class="flex flex-col w-full p-3">
        <!-- Title -->
        <div class="flex flex-col gap-0 w-full mb-5 pb-5 border-b border-t-0 border-x-0 border-dashed border-gray-300">
            <p class="text-lg font-semibold text-gray-800">
                Voice Notes Siswa
            </p>
            <p class="text-sm font-medium text-gray-600">
                List daftar voice note siswa
            </p>
        </div>

        <!-- List -->
        <div *ngFor="let item of VoiceNotesDatasource"
            class="flex flex-col w-full gap-0 p-3 rounded-lg bg-gray-100 shadow-sm mb-2">
            <p class="text-base font-semibold text-gray-700 mb-1">
                Nama Siswa : {{ item.nama_siswa }}
            </p>
            <p class="text-sm font-medium text-gray-700 mb-2">
                Dibuat Pada : {{ item.create_at | date: 'dd-MM-yyyy HH:mm' }}
            </p>
            <div *ngIf="item.voice_notes" class="grid gap-2 w-full">
                <audio [src]="item.voice_notes" controls></audio>
            </div>
        </div>

        <!-- Empty -->
        <div *ngIf="VoiceNotesDatasource.length < 1" class="grid w-full">
            <p class="text-base text-gray-700 font-medium text-center">
                Tidak Ada Data
            </p>
        </div>

        <!-- Button -->
        <div class="grid w-full mt-2">
            <p-button severity="info" label="Buat Baru" styleClass="p-button-sm w-full"
                (onClick)="FormState = 'insert'"></p-button>
        </div>
    </div>

    <!-- Insert -->
    <div *ngIf="FormState == 'insert'" class="flex flex-col w-full p-3">
        <!-- Title -->
        <div class="flex flex-col gap-0 w-full mb-5 pb-5 border-b border-t-0 border-x-0 border-dashed border-gray-300">
            <p class="text-lg font-semibold text-gray-800">
                Buat Voice Notes Baru
            </p>
            <p class="text-sm font-medium text-gray-600">
                Buat voice notes baru disini
            </p>
        </div>

        <div [formGroup]="Form" class="grid w-full gap-5">
            <!-- Nama Siswa -->
            <div class="flex w-full flex-col gap-1">
                <p class="text-sm text-gray-700 font-medium">
                    Nama Siswa
                </p>
                <input type="text" pInputText placeholder="Input nama siswa disini" formControlName="nama_siswa">
            </div>

            <!-- Voice Notes -->
            <div class="flex w-full flex-col gap-1">
                <p class="text-sm text-gray-700 font-medium">
                    Voice Notes
                </p>
                <div class="voice-note flex gap-2 mb-2">
                    <p-button severity="info" label="🎙️ Mulai Merekam" styleClass="p-button-sm"
                        (click)="startRecording()" [disabled]="isRecording">
                    </p-button>

                    <p-button severity="secondary" label="🛑 Stop Rekam" styleClass="p-button-sm"
                        (click)="stopRecording()" [disabled]="!isRecording">
                    </p-button>
                </div>

                <div *ngIf="audioBase64" class="grid gap-2 w-full">
                    <audio [src]="audioBase64" controls></audio>
                </div>
            </div>

            <!-- Keterangan -->
            <div class="flex w-full flex-col gap-1">
                <p class="text-sm text-gray-700 font-medium">
                    Keterangan
                </p>
                <input type="text" pInputText placeholder="Input keterangan disini" formControlName="keterangan">
            </div>

            <!-- Button -->
            <div class="flex w-full justify-end gap-2">
                <p-button severity="secondary" label="Kembali" styleClass="p-button-sm"
                    (onClick)="handleBackToList()"></p-button>

                <p-button severity="info" label="Simpan" styleClass="p-button-sm" (onClick)="handleSave()"></p-button>
            </div>
        </div>
    </div>
</div>