<div *ngIf="InvoiceDatasource" class="flex w-full h-screen bg-gray-700 justify-center">
    <!-- Payment Panel -->
    <div *ngIf="!IsPaymentSuccess" class="flex flex-col items-center max-w-[480px] w-full bg-gray-50 relative">
        <!-- Sandbox Mode -->
        <div *ngIf="IsSandboxMode" class="flex w-full p-2 bg-yellow-500 justify-center text-center">
            <p class="text-xs text-gray-700 text-center">
                Anda Sedang Berada Di Mode Sandbox
            </p>
        </div>

        <!-- Header -->
        <div
            class="flex flex-row justify-center w-full gap-2 pt-5 pb-3 {{ IsSandboxMode ? 'h-[11.4rem]' : 'h-[11.2rem]' }} bg-gray-700">
            <!-- Logo -->
            <img [src]="Logo" alt="logo" class="h-[3rem] mx-auto mb-10">
        </div>

        <!-- Order Summary -->
        <div
            class="flex flex-col w-11/12 max-w-[450px] p-2 gap-0 bg-white rounded-lg shadow drop-shadow absolute {{ IsSandboxMode ? 'top-[120px]' : 'top-[85px]' }}">
            <div class="flex w-full justify-between items-end mb-1">

                <div class="flex flex-col gap-1">
                    <!-- Batas Waktu Pembayaran -->
                    <div *ngIf="IsPaymentGenerated" class="flex flex-col w-full">
                        <p class="text-gray-500 text-xs text-end">
                            Batas Waktu Pembayaran :
                            <span class="text-sky-600 text-xs font-medium">
                                {{ ExpirationTimeCountdown }}
                            </span>
                        </p>

                    </div>

                    <p class="text-gray-500 text-xs">
                        Total
                    </p>
                </div>



                <div class="flex flex-col gap-0 justify-end items-end">
                    <p class="text-sky-600 text-sm font-semibold">
                        {{ InvoiceDatasource.full_name }}
                    </p>
                    <p class="text-gray-600 text-xs">
                        ID PEL : {{ InvoiceDatasource.pelanggan_code }}
                    </p>
                </div>
            </div>

            <p class="text-gray-800 text-3xl font-bold mb-0">
                {{ (!IsPaymentGenerated ? InvoiceDatasource.total : ( InvoiceDatasource.is_use_pg_admin_fee ?
                TotalIncludeFee :InvoiceDatasource.total )) | currency: 'Rp. ' }}
            </p>

            <div
                class="flex flex-col w-full gap-1 mt-2 pt-2 border-t border-b-0 border-x-0 border-dashed border-gray-300">
                <div class="flex flex-row justify-between">
                    <!-- Invoice No -->
                    <div class="flex flex-col">
                        <p class="text-gray-500 text-xs">
                            No. Invoice :
                        </p>
                        <p class="text-gray-600 text-xs font-medium">
                            {{ InvoiceDatasource.invoice_number }}
                        </p>
                    </div>

                    <!-- Jatuh Tempo -->
                    <div class="flex flex-col">
                        <p class="text-gray-500 text-xs text-end">
                            Jatuh Tempo :
                        </p>
                        <p class="text-gray-600 text-xs font-medium text-end">
                            {{ InvoiceDatasource.due_date | date: 'dd MMMM yyyy' }}
                        </p>
                    </div>
                </div>

                <div class="flex flex-row justify-between">
                    <!-- Jatuh Tempo -->
                    <div class="flex flex-col w-full">
                        <p class="text-gray-500 text-xs">
                            Alamat :
                        </p>
                        <p class="text-gray-600 text-xs font-medium">
                            {{ InvoiceDatasource.alamat }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment Method -->
        <div class="flex flex-col w-full gap-0 p-3 absolute {{ IsSandboxMode ? 'top-[320px]' : 'top-[280px]' }} ">
            <!-- <p class="text-base text-sky-600 font-semibold">
                <span *ngIf="IsPaymentGenerated" class="text-gray-700" (click)="changePaymentMethod()">
                    <i class="pi pi-chevron-left" style="font-size: 12px"></i>
                </span>
                {{ IsPaymentGenerated ? DetailPayment.payment_method : 'Pilih Metode Bayar' }}
            </p> -->

            <p *ngIf="!IsPaymentGenerated" class="text-xs text-gray-500 mb-5">
                Pembayaran dapat dilakukan melalui VA atau QRIS
            </p>

            <!-- List Payment Method -->
            <div *ngIf="!IsPaymentGenerated" class="flex flex-col w-full overflow-x-auto gap-3 pb-2">
                <p-accordion>
                    <p-accordionTab *ngFor="let item of PaymentMethodAccordion">
                        <ng-template pTemplate="header">
                            <span class="flex items-center justify-between gap-2 w-full">
                                <!-- Title -->
                                <div class="flex flex-row gap-2">
                                    <i [class]="item.icon"></i>
                                    <p class="text-sm text-gray-700 font-medium">
                                        {{ item.category }}
                                    </p>
                                </div>

                                <!-- Thumbnail Image -->
                                <div class="flex gap-3">
                                    @if(item.category != 'QRIS') {
                                    <img *ngFor="let image of item.thumbnail" [src]="image" alt="logo_payment_method"
                                        class="w-[30px] h-[auto]">
                                    } @else {
                                    <img [src]="item.thumbnail[0]" alt="logo_payment_method" class="w-[30px] h-[auto]">
                                    }

                                    <div *ngIf="item.detail.length > 2"
                                        class="flex items-center justify-center p-1 w-[2.5rem] border-gray-100 rounded-md border-solid border">
                                        <p class="text-sm text-gray-600">
                                            +{{ item.detail.length - 2 }}
                                        </p>
                                    </div>
                                </div>
                            </span>
                        </ng-template>
                        <div class="flex flex-col gap-2 w-full">
                            <div *ngFor="let method of item.detail"
                                class="flex flex-row items-center w-full gap-3 bg-gray-200 p-2 rounded-lg shadow"
                                (click)="createPayment(method)">
                                <img [src]="method.image" alt="logo_payment_method" class="w-[70px] h-[auto]">

                                <div class="flex flex-col w-full">
                                    <p class="text-sm text-gray-700 font-semibold mb-0">
                                        {{ method.payment_method_name }}
                                    </p>
                                    <p class="text-xs text-gray-500 mb-0">
                                        {{ method.payment_method_type == 'QRIS' ? 'Pembayaran Melalui QRIS' : 'Virtual
                                        Account
                                        Bank'
                                        }}
                                        {{ method.payment_method_code }}
                                    </p>
                                    <p *ngIf="InvoiceDatasource.is_use_pg_admin_fee"
                                        class="text-xs text-sky-500 italic">
                                        Biaya Admin :
                                        {{ handleCountAdminFee(InvoiceDatasource.total, method.payment_method_type,
                                        method.payment_method_fee) | currency: 'Rp. ' }}
                                    </p>
                                </div>

                                <span class="text-sm text-gray-700 cursor-pointer">
                                    <i class="pi pi-chevron-right" style="font-size: 12px"></i>
                                </span>
                            </div>
                        </div>

                    </p-accordionTab>
                </p-accordion>
            </div>

            <!-- Payment VA and Instructions -->
            <div *ngIf="DetailPayment" class="flex flex-col w-full gap-2 my-2">
                <p *ngIf="DetailPayment.payment_method != 'QRIS'" class="text-gray-700 text-sm mb-2">
                    Lakukan pembayaran dari rekening Bank {{ DetailPayment.payment_method }} ke nomor virtual account
                    dibawah ini.
                </p>

                <div *ngIf="DetailPayment.payment_method != 'QRIS'"
                    class="flex flex-row w-full justify-between items-center p-2 bg-gray-200 rounded-md drop-shadow">
                    <div class="flex flex-col">
                        <p class="text-sm text-gray-600">
                            Nomor virtual account
                        </p>
                        <p class="text-lg text-gray-800 font-semibold">
                            {{ DetailPayment.payment_number }}
                        </p>
                    </div>

                    <span class="text-sky-500" (click)="copyToClipboard(DetailPayment.payment_number)">
                        <i class="pi pi-copy" style="font-size: 17px;"></i>
                    </span>
                </div>

                <p *ngIf="DetailPayment.payment_method == 'QRIS'" class="text-gray-700 text-sm mb-2">
                    Lakukan pembayaran ke QRIS dibawah ini.
                </p>

                <div *ngIf="DetailPayment.payment_method == 'QRIS'"
                    class="flex flex-row w-full justify-center items-center p-2 bg-gray-200 rounded-md drop-shadow">
                    <qrcode [qrdata]="DetailPayment.payment_number" [width]="200" [errorCorrectionLevel]="'M'">
                    </qrcode>
                </div>
            </div>

            <!-- Payment Instructions -->
            <div *ngIf="DetailPayment && SelectedPaymentMethod && DetailPayment.payment_method != 'QRIS'"
                class="flex flex-col w-full gap-2 mt-3 pt-3 border-t border-b-0 border-x-0 border-dashed border-gray-300 h-[24rem] overflow-x-auto">
                <p class="text-gray-700 font-semibold text-base">
                    Cara Bayar
                </p>

                <div *ngFor="let item of SelectedPaymentMethod.payment_method_instruction; let i = index"
                    class="flex flex-col w-full">
                    <p class="text-sm text-gray-600 font-semibold">
                        {{ i + 1}}. {{ item.type }}
                    </p>

                    <div class="grid p-3 text-xs text-gray-600" [innerHTML]="item.instructions"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Paid Panel -->
    <div *ngIf="IsPaymentSuccess"
        class="flex flex-col items-center justify-center max-w-[480px] w-full h-screen px-5 bg-emerald-100">
        <img src="../../../assets/gif/success.gif" alt="success" class="h-[150px] w-[150px]">

        <p
            class="text-xl text-gray-700 font-semibold my-3 pb-2 border-b border-t-0 border-x-0 border-solid border-emerald-400">
            Pembayaran Diterima
        </p>

        <p class="text-3xl text-gray-700 font-bold mt-3 mb-8">
            {{ InvoiceDatasource.total | currency: 'Rp. ' }}
        </p>

        <div class="grid w-full grid-cols-1 gap-x-8 gap-y-3 mb-5 p-3 rounded-lg bg-gray-50 shadow">
            <div class="flex flex-row w-full justify-between item-center gap-0">
                <p class="text-xs text-gray-500 ">
                    ID Pelanggan
                </p>
                <p class="text-xs text-gray-700 font-medium">
                    <span>{{ InvoiceDatasource.pelanggan_code }}</span>
                </p>
            </div>

            <div class="flex flex-row w-full justify-between item-center  gap-0">
                <p class="text-xs text-gray-500 ">
                    Nama Pelanggan
                </p>
                <p class="text-xs text-gray-700 font-medium">
                    <span>{{ InvoiceDatasource.full_name }}</span>
                </p>
            </div>

            <div class="flex flex-row w-full justify-between item-center  gap-0">
                <p class="text-xs text-gray-500 ">
                    No. Invoice
                </p>
                <p class="text-xs text-gray-700 font-medium">
                    <span>{{ InvoiceDatasource.invoice_number }}</span>
                </p>
            </div>

            <div class="flex flex-row w-full justify-between item-center  gap-0">
                <p class="text-xs text-gray-500 ">
                    Produk
                </p>
                <p class="text-xs text-gray-700 font-medium">
                    <span>{{ InvoiceDatasource.product_name }}</span>
                </p>
            </div>

            <div class="flex flex-row w-full justify-between item-center  gap-0">
                <p class="text-xs text-gray-500 ">
                    Tgl. Bayar
                </p>
                <p class="text-xs text-gray-700 font-medium">
                    <span>{{
                        InvoiceDatasource.payment_date
                        ? (InvoiceDatasource.payment_date | date: 'dd-MM-yyyy HH:mm')
                        : (InvoiceDatasource.payment.payment_date | date: 'dd-MM-yyyy HH:mm') }}
                    </span>
                </p>
            </div>

            <div class="flex flex-row w-full justify-between item-center gap-0">
                <p class="text-xs text-gray-500 ">
                    Metode Bayar
                </p>
                <p class="text-xs text-gray-700 font-medium">
                    <span>{{
                        InvoiceDatasource.payment_method
                        ? (InvoiceDatasource.payment_method)
                        : (InvoiceDatasource.payment.payment_method) }}
                    </span>
                </p>
            </div>
        </div>

        <div class="grid w-full mt-2 mb-3">
            <p-button severity="info" styleClass="w-full shadow" label="Kembali Ke Halaman Utama"
                (onClick)="handleBackToHome()">
            </p-button>
        </div>

        <p class="text-xs text-gray-500">
            <i class="pi pi-shield" style="font-size: 10px"></i> Secured Payment
        </p>
    </div>
</div>