<app-dashboard [ButtonNavigation]="ButtonNavigation" (onClickButtonNavigation)="handleClickButtonNavigation($event)">
    <!-- Grid -->
    <div *ngIf="PageState == 'list'" class="grid w-full bg-white rounded-lg shadow-sm p-2">
        <div
            class="flex flex-row justify-between items-start w-full mb-2 pb-2 border-b border-t-0 border-x-0 border-dashed border-gray-300">
            <div class="flex w-full gap-3">
                <app-panel-filter [props]="AdvancedFilterProps" [formClass]="'grid-rows-3 grid-cols-3'"
                    (onFilter)="handleFilterGridPayment($event)">
                </app-panel-filter>
            </div>

            <div class="flex w-8/12 justify-end gap-2">
                <div class="flex w-8/12">
                    <input #SearchEl type="text" pInputText placeholder="Cari data disini" class="p-inputtext-sm w-full"
                        (keyup.enter)="handleSearchGridPayment(SearchEl.value)">
                </div>

                <p-button severity="info" label="Cari" icon="pi pi-search" styleClass="p-button-sm"
                    (onClick)="handleSearchGridPayment(SearchEl.value)">
                </p-button>

                <p-button severity="secondary" label="Export" icon="pi pi-download" styleClass="p-button-sm"
                    (onClick)="handleExportGridPayment()">
                </p-button>
            </div>
        </div>

        <app-grid #GridComps [props]="GridProps" (cellClicked)="onCellClicked($event)"
            (rowDoubleClicked)="onRowDoubleClicked($event)" (aksiClicked)="onToolbarClicked($event)"
            (customSearchClicked)="onSearchGrid($event)">
        </app-grid>
    </div>

    <!-- Form -->
    <div *ngIf="PageState == 'form'" class="flex flex-col w-8/12 p-3 bg-white rounded-lg shadow-sm">
        <div class="grid w-full">
            @if(FormState == 'detail') {
            <app-dynamic-form #FormDetailComps [props]="FormDetailProps"></app-dynamic-form>
            } @else {
            <app-dynamic-form #FormComps [props]="FormProps"></app-dynamic-form>
            }
        </div>

        <div class="flex w-full justify-end mt-4 gap-4">
            <p-button severity="secondary" label="Back" styleClass="p-button-sm" (onClick)="handleBackToList()">
            </p-button>

            <p-button *ngIf="FormState == 'insert'" severity="info" label="Save" styleClass="p-button-sm"
                (onClick)="saveData(FormComps.FormGroup.value)">
            </p-button>

            <p-button *ngIf="FormState == 'update'" severity="warning" label="Update" styleClass="p-button-sm"
                (onClick)="updateData(FormComps.FormGroup.value)">
            </p-button>
        </div>
    </div>

    <p-confirmDialog />
</app-dashboard>